In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\alisa\OneDrive\Desktop\End-to-End ML Pipeline using DVC & AWS S3\dataset\titanic_toy.csv")
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [3]:
df.shape

(891, 4)

In [5]:
X=df.drop(columns='Survived')
y=df['Survived']

In [6]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
type(y_test)

pandas.core.series.Series